.nav-panel-content{
	height:40px;
}
.page-sidebar-fixed .page-sidebar{
	// top:150px;
	// left: 0px;
}
.header_top {
	.logos{
		text-align: center;
		.sidebar-toggler.menu-toggler{
			float: left;
			height: 50px;
			margin-top: 0px; 
		}
	}
}