.nav-panel-content{
	height:40px;
}
.page-sidebar-fixed .page-sidebar{
	 top:150px;
	// left: 0px;
}
.header_top {
	border-bottom: 3px solid #5bc0de;
	.logos{
		text-align: left;
		.sidebar-toggler.menu-toggler{
			float: left;
			height: 50px;
			margin-top: 0px !important; 
		}
	}
}

.page-header-fixed .page-container{
	    margin-top: 130px; /*adjust for .page-container */
}