#full-width-all {
    width: 100%;
    background-color: #e9eff3;
    display: block;
    height: 1000px;
}

.navbar {
    &.page-header {
        background-color: inherit;
    }
}

#margin-auto {
    @include margin-auto;
    width: 500px;
}
//會員登入

#login {
    width: 400px !important;
    background-color: #fff;
    color: #7d7d7d;
    padding: 25px;
    border-style: solid;
    border-width: 7px 7px 7px 7px;
    border-color: #e2e2e2;
    //btn
    #full-width-f {
        width: 48%;
        display: inline-block;
        background-color: #3b5998;
    }

    #full-width-g {
        width: 48%;
        display: inline-block;
        background-color: #e8410c;
        color: #fff;
    }

    #full-width {
        width: 100%;
        color: #fff;
    }
}
// login other

#login_full {
    width: 80%;
    background-color: #fff;
    color: #7d7d7d;
    padding: 25px;
    // border-style: solid;
    // border-width: 4px 4px 4px 4px;
    border-color: #e2e2e2;
}

.width_80 {
    width: 80%;
    @include margin-auto;
}
