@include margin(left,50,inline-block);
@include margin(right,50,inline-block);
@include margin(top,90,$display:inherit);
@include margin(bottom,200,$display:inherit);
//使用條件  marginright-3 / marginleft-4

//products

.actions {
    margin-left: 15px;
  }

.function_btn {
    width: 8%;
    margin-top: 30px;
}

.function_title {
    margin-bottom: 15px;

    .filter_btn {
        // margin-left: 0px;
    }
}

.radio-list {
    .radios {
        display: block;
    }
}
//add_product_01

.dropzone {
    position: relative;
    border: 3px dashed #eee;
    min-height: 250px;
    border-radius: 2px;
    background-color: #fcfcfc;
    padding: 5px;
}

.thumbnail2 {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fcfcfc;
    border: 3px dashed #eee;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.preloaders {
    padding-top: 35px;
    padding-bottom: 50px;

    .list {
        display: inline-block;
        margin-right: 2%;

        .number {
            background-color: #e2e2e2;
            text-align: center!important;
            padding: 7px 11px 13px;
            margin-right: 10px;
            height: 35px;
            width: 35px;
            -webkit-border-radius: 50%!important;
            -moz-border-radius: 50%!important;
            border-radius: 50%!important;
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
        }

        .active {
            background-color: #33ddd7;
            color: #fff;
        }
    }
}

#progress {
    width: 93%;
    margin-left: 10px;
}

.form-actions {
    margin-bottom: 20px;
}

.checkbox_margin_top {
    li {
        margin-top: 10px;
    }
}

.line_space {
    margin-top: 20px;
    margin-bottom: 40px;
    .list {
        margin-right: 15px;
        margin-top:10px;
        margin-bottom: 15px;
    }
}
.location {
a {
  margin-top: 4px
}
}

.showme {
display: none;
}
.blocks {
  display: block;
  margin-left: 186px;
  margin-top: 4px;
  position: absolute;
  }
