.nav-panel-content {
    background: #3598dc;
}
.nav-panel {
    li {
        a,
        a:hover {
            color: #fff;
        }
    }
}
.navbar.page-header .sidebar-toggler.menu-toggler {
    margin: 13px 14px 0;
}
