@charset "utf-8";
/* CSS Document */

/*******************************/
/*Author: www.asianproducts.com*/
/*******************************/

.flag {width:14px; height:14px; float: left;  margin-top: 4px; margin-right: 10px;}
.c3080 {background: url(../images/flag/flag_01.gif) no-repeat 0px 0px;}
.c1420 {background: url(../images/flag/flag_01.gif) no-repeat 0px -20px;}
.c1940 {background: url(../images/flag/flag_01.gif) no-repeat 0px -40px;}
.c3100 {background: url(../images/flag/flag_01.gif) no-repeat 0px -60px;}
.c1970 {background: url(../images/flag/flag_01.gif) no-repeat 0px -80px;}
.c1980 {background: url(../images/flag/flag_01.gif) no-repeat 0px -100px;}
.c3160 {background: url(../images/flag/flag_01.gif) no-repeat 0px -120px;}
.c3240 {background: url(../images/flag/flag_01.gif) no-repeat 0px -140px;}
.c2920 {background: url(../images/flag/flag_01.gif) no-repeat 0px -160px;}
.c2980 {background: url(../images/flag/flag_01.gif) no-repeat 0px -180px;}
.c1000 {background: url(../images/flag/flag_01.gif) no-repeat 0px -200px;}
.c3230 {background: url(../images/flag/flag_01.gif) no-repeat 0px -220px;}
.c3220 {background: url(../images/flag/flag_01.gif) no-repeat 0px -240px;}
.c2690 {background: url(../images/flag/flag_01.gif) no-repeat 0px -260px;}
.c2070 {background: url(../images/flag/flag_01.gif) no-repeat 0px -280px;}
.c2280 {background: url(../images/flag/flag_01.gif) no-repeat 0px -300px;}
.c2560 {background: url(../images/flag/flag_01.gif) no-repeat 0px -320px;}
.c1360 {background: url(../images/flag/flag_01.gif) no-repeat 0px -340px;}
.c1780 {background: url(../images/flag/flag_01.gif) no-repeat 0px -360px;}
.c2880 {background: url(../images/flag/flag_01.gif) no-repeat 0px -380px;}
.c1290 {background: url(../images/flag/flag_01.gif) no-repeat -25px 0px;}
.c3300 {background: url(../images/flag/flag_01.gif) no-repeat -25px -20px;}
.c2630 {background: url(../images/flag/flag_01.gif) no-repeat -25px -40px;}
.c2090 {background: url(../images/flag/flag_01.gif) no-repeat -25px -60px;}
.c2030 {background: url(../images/flag/flag_01.gif) no-repeat -25px -80px;}
.c1120 {background: url(../images/flag/flag_01.gif) no-repeat -25px -100px;}
.c2370 {background: url(../images/flag/flag_01.gif) no-repeat -25px -120px;}
.c1090 {background: url(../images/flag/flag_01.gif) no-repeat -25px -140px;}
.c2970 {background: url(../images/flag/flag_01.gif) no-repeat -25px -160px;}
.c1610 {background: url(../images/flag/flag_01.gif) no-repeat -25px -180px;}
.c1990 {background: url(../images/flag/flag_01.gif) no-repeat -25px -200px;}
.c2010 {background: url(../images/flag/flag_01.gif) no-repeat -25px -220px;}
.c2040 {background: url(../images/flag/flag_01.gif) no-repeat -25px -240px;}
.c1430 {background: url(../images/flag/flag_01.gif) no-repeat -25px -260px;}
.c1710 {background: url(../images/flag/flag_01.gif) no-repeat -25px -280px;}
.c1700 {background: url(../images/flag/flag_01.gif) no-repeat -25px -300px;}
.c1170 {background: url(../images/flag/flag_01.gif) no-repeat -25px -320px;}
.c3040 {background: url(../images/flag/flag_01.gif) no-repeat -25px -340px;}
.c1340 {background: url(../images/flag/flag_01.gif) no-repeat -25px -360px;}
.c1300 {background: url(../images/flag/flag_01.gif) no-repeat -25px -380px;}
.c1030 {background: url(../images/flag/flag_01.gif) no-repeat -50px 0px;}
.c2170 {background: url(../images/flag/flag_01.gif) no-repeat -50px -20px;}
.c1550 {background: url(../images/flag/flag_01.gif) no-repeat -50px -40px;}
.c2500 {background: url(../images/flag/flag_01.gif) no-repeat -50px -60px;}
.c3010 {background: url(../images/flag/flag_01.gif) no-repeat -50px -80px;}
.c2910 {background: url(../images/flag/flag_01.gif) no-repeat -50px -100px;}
.c2770 {background: url(../images/flag/flag_01.gif) no-repeat -50px -120px;}
.c2610 {background: url(../images/flag/flag_01.gif) no-repeat -50px -140px;}
.c1190 {background: url(../images/flag/flag_01.gif) no-repeat -50px -160px;}
.c2110 {background: url(../images/flag/flag_01.gif) no-repeat -50px -180px;}
.c2750 {background: url(../images/flag/flag_01.gif) no-repeat -50px -200px;}
.c3050 {background: url(../images/flag/flag_01.gif) no-repeat -50px -220px;}
.c3020 {background: url(../images/flag/flag_01.gif) no-repeat -50px -240px;}
.c2990 {background: url(../images/flag/flag_01.gif) no-repeat -50px -260px;}
.c1600 {background: url(../images/flag/flag_01.gif) no-repeat -50px -280px;}
.c1450 {background: url(../images/flag/flag_01.gif) no-repeat -50px -300px;}
.c3000 {background: url(../images/flag/flag_01.gif) no-repeat -50px -320px;}
.c3290 {background: url(../images/flag/flag_01.gif) no-repeat -50px -340px;}
.c1810 {background: url(../images/flag/flag_01.gif) no-repeat -50px -360px;}
.c2710 {background: url(../images/flag/flag_01.gif) no-repeat -50px -380px;}
.c2310 {background: url(../images/flag/flag_01.gif) no-repeat -75px 0px;}
.c3150 {background: url(../images/flag/flag_01.gif) no-repeat -75px -20px;}
.c1220 {background: url(../images/flag/flag_01.gif) no-repeat -75px -40px;}
.c1010 {background: url(../images/flag/flag_01.gif) no-repeat -75px -60px;}
.c1020 {background: url(../images/flag/flag_01.gif) no-repeat -75px -80px;}
.c1040 {background: url(../images/flag/flag_01.gif) no-repeat -75px -100px;}
.c1050 {background: url(../images/flag/flag_01.gif) no-repeat -75px -120px;}
.c1060 {background: url(../images/flag/flag_01.gif) no-repeat -75px -140px;}
.c1070 {background: url(../images/flag/flag_01.gif) no-repeat -75px -160px;}
.c1080 {background: url(../images/flag/flag_01.gif) no-repeat -75px -180px;}
.c1100 {background: url(../images/flag/flag_01.gif) no-repeat -75px -200px;}
.c1110 {background: url(../images/flag/flag_01.gif) no-repeat -75px -220px;}
.c1130 {background: url(../images/flag/flag_01.gif) no-repeat -75px -240px;}
.c1140 {background: url(../images/flag/flag_01.gif) no-repeat -75px -260px;}
.c1150 {background: url(../images/flag/flag_01.gif) no-repeat -75px -280px;}
.c1160 {background: url(../images/flag/flag_01.gif) no-repeat -75px -300px;}
.c1180 {background: url(../images/flag/flag_01.gif) no-repeat -75px -320px;}
.c1200 {background: url(../images/flag/flag_01.gif) no-repeat -75px -340px;}
.c1210 {background: url(../images/flag/flag_01.gif) no-repeat -75px -360px;}
.c1230 {background: url(../images/flag/flag_01.gif) no-repeat -75px -380px;}
.c1240 {background: url(../images/flag/flag_02.gif) no-repeat 0px 0px;}
.c1250 {background: url(../images/flag/flag_02.gif) no-repeat 0px -20px;}
.c1260 {background: url(../images/flag/flag_02.gif) no-repeat 0px -40px;}
.c1270 {background: url(../images/flag/flag_02.gif) no-repeat 0px -60px;}
.c1280 {background: url(../images/flag/flag_02.gif) no-repeat 0px -80px;}
.c1310 {background: url(../images/flag/flag_02.gif) no-repeat 0px -100px;}
.c1320 {background: url(../images/flag/flag_02.gif) no-repeat 0px -120px;}
.c1330 {background: url(../images/flag/flag_02.gif) no-repeat 0px -140px;}
.c1350 {background: url(../images/flag/flag_02.gif) no-repeat 0px -160px;}
.c1370 {background: url(../images/flag/flag_02.gif) no-repeat 0px -180px;}
.c1380 {background: url(../images/flag/flag_02.gif) no-repeat 0px -200px;}
.c1390 {background: url(../images/flag/flag_02.gif) no-repeat 0px -220px;}
.c1400 {background: url(../images/flag/flag_02.gif) no-repeat 0px -240px;}
.c1410 {background: url(../images/flag/flag_02.gif) no-repeat 0px -260px;}
.c1440 {background: url(../images/flag/flag_02.gif) no-repeat 0px -280px;}
.c1460 {background: url(../images/flag/flag_02.gif) no-repeat 0px -300px;}
.c1470 {background: url(../images/flag/flag_02.gif) no-repeat 0px -320px;}
.c1480 {background: url(../images/flag/flag_02.gif) no-repeat 0px -340px;}
.c1490 {background: url(../images/flag/flag_02.gif) no-repeat 0px -360px;}
.c1500 {background: url(../images/flag/flag_02.gif) no-repeat 0px -380px;}
.c1510 {background: url(../images/flag/flag_02.gif) no-repeat -25px 0px;}
.c1520 {background: url(../images/flag/flag_02.gif) no-repeat -25px -20px;}
.c1530 {background: url(../images/flag/flag_02.gif) no-repeat -25px -40px;}
.c1540 {background: url(../images/flag/flag_02.gif) no-repeat -25px -60px;}
.c1560 {background: url(../images/flag/flag_02.gif) no-repeat -25px -80px;}
.c1570 {background: url(../images/flag/flag_02.gif) no-repeat -25px -100px;}
.c1580 {background: url(../images/flag/flag_02.gif) no-repeat -25px -120px;}
.c1590 {background: url(../images/flag/flag_02.gif) no-repeat -25px -140px;}
.c1620 {background: url(../images/flag/flag_02.gif) no-repeat -25px -160px;}
.c1630 {background: url(../images/flag/flag_02.gif) no-repeat -25px -180px;}
.c1640 {background: url(../images/flag/flag_02.gif) no-repeat -25px -200px;}
.c1650 {background: url(../images/flag/flag_02.gif) no-repeat -25px -220px;}
.c1660 {background: url(../images/flag/flag_02.gif) no-repeat -25px -240px;}
.c1670 {background: url(../images/flag/flag_02.gif) no-repeat -25px -260px;}
.c1680 {background: url(../images/flag/flag_02.gif) no-repeat -25px -280px;}
.c1690 {background: url(../images/flag/flag_02.gif) no-repeat -25px -300px;}
.c1720 {background: url(../images/flag/flag_02.gif) no-repeat -25px -320px;}
.c1730 {background: url(../images/flag/flag_02.gif) no-repeat -25px -340px;}
.c1740 {background: url(../images/flag/flag_02.gif) no-repeat -25px -360px;}
.c1750 {background: url(../images/flag/flag_02.gif) no-repeat -25px -380px;}
.c1760 {background: url(../images/flag/flag_02.gif) no-repeat -50px 0px;}
.c1770 {background: url(../images/flag/flag_02.gif) no-repeat -50px -20px;}
.c1790 {background: url(../images/flag/flag_02.gif) no-repeat -50px -40px;}
.c1800 {background: url(../images/flag/flag_02.gif) no-repeat -50px -60px;}
.c1820 {background: url(../images/flag/flag_02.gif) no-repeat -50px -80px;}
.c1830 {background: url(../images/flag/flag_02.gif) no-repeat -50px -100px;}
.c1840 {background: url(../images/flag/flag_02.gif) no-repeat -50px -120px;}
.c1850 {background: url(../images/flag/flag_02.gif) no-repeat -50px -140px;}
.c1860 {background: url(../images/flag/flag_02.gif) no-repeat -50px -160px;}
.c1870 {background: url(../images/flag/flag_02.gif) no-repeat -50px -180px;}
.c1880 {background: url(../images/flag/flag_02.gif) no-repeat -50px -200px;}
.c1890 {background: url(../images/flag/flag_02.gif) no-repeat -50px -220px;}
.c1900 {background: url(../images/flag/flag_02.gif) no-repeat -50px -240px;}
.c1910 {background: url(../images/flag/flag_02.gif) no-repeat -50px -260px;}
.c1920 {background: url(../images/flag/flag_02.gif) no-repeat -50px -280px;}
.c1930 {background: url(../images/flag/flag_02.gif) no-repeat -50px -300px;}
.c1950 {background: url(../images/flag/flag_02.gif) no-repeat -50px -320px;}
.c1960 {background: url(../images/flag/flag_02.gif) no-repeat -50px -340px;}
.c2000 {background: url(../images/flag/flag_02.gif) no-repeat -50px -360px;}
.c2020 {background: url(../images/flag/flag_02.gif) no-repeat -50px -380px;}
.c2050 {background: url(../images/flag/flag_02.gif) no-repeat -75px 0px;}
.c2060 {background: url(../images/flag/flag_02.gif) no-repeat -75px -20px;}
.c2080 {background: url(../images/flag/flag_02.gif) no-repeat -75px -40px;}
.c2100 {background: url(../images/flag/flag_02.gif) no-repeat -75px -60px;}
.c2120 {background: url(../images/flag/flag_02.gif) no-repeat -75px -80px;}
.c2130 {background: url(../images/flag/flag_02.gif) no-repeat -75px -100px;}
.c2140 {background: url(../images/flag/flag_02.gif) no-repeat -75px -120px;}
.c2150 {background: url(../images/flag/flag_02.gif) no-repeat -75px -140px;}
.c2160 {background: url(../images/flag/flag_02.gif) no-repeat -75px -160px;}
.c2180 {background: url(../images/flag/flag_02.gif) no-repeat -75px -180px;}
.c2190 {background: url(../images/flag/flag_02.gif) no-repeat -75px -200px;}
.c2200 {background: url(../images/flag/flag_02.gif) no-repeat -75px -220px;}
.c2210 {background: url(../images/flag/flag_02.gif) no-repeat -75px -240px;}
.c2220 {background: url(../images/flag/flag_02.gif) no-repeat -75px -260px;}
.c2230 {background: url(../images/flag/flag_02.gif) no-repeat -75px -280px;}
.c2240 {background: url(../images/flag/flag_02.gif) no-repeat -75px -300px;}
.c2250 {background: url(../images/flag/flag_02.gif) no-repeat -75px -320px;}
.c2260 {background: url(../images/flag/flag_02.gif) no-repeat -75px -340px;}
.c2270 {background: url(../images/flag/flag_02.gif) no-repeat -75px -360px;}
.c2290 {background: url(../images/flag/flag_02.gif) no-repeat -75px -380px;}
.c2300 {background: url(../images/flag/flag_03.gif) no-repeat 0px 0px;}
.c2320 {background: url(../images/flag/flag_03.gif) no-repeat 0px -20px;}
.c2330 {background: url(../images/flag/flag_03.gif) no-repeat 0px -40px;}
.c2340 {background: url(../images/flag/flag_03.gif) no-repeat 0px -60px;}
.c2350 {background: url(../images/flag/flag_03.gif) no-repeat 0px -80px;}
.c2360 {background: url(../images/flag/flag_03.gif) no-repeat 0px -100px;}
.c2380 {background: url(../images/flag/flag_03.gif) no-repeat 0px -120px;}
.c2390 {background: url(../images/flag/flag_03.gif) no-repeat 0px -140px;}
.c2400 {background: url(../images/flag/flag_03.gif) no-repeat 0px -160px;}
.c2410 {background: url(../images/flag/flag_03.gif) no-repeat 0px -180px;}
.c2420 {background: url(../images/flag/flag_03.gif) no-repeat 0px -200px;}
.c2430 {background: url(../images/flag/flag_03.gif) no-repeat 0px -220px;}
.c2440 {background: url(../images/flag/flag_03.gif) no-repeat 0px -240px;}
.c2450 {background: url(../images/flag/flag_03.gif) no-repeat 0px -260px;}
.c2460 {background: url(../images/flag/flag_03.gif) no-repeat 0px -280px;}
.c2470 {background: url(../images/flag/flag_03.gif) no-repeat 0px -300px;}
.c2480 {background: url(../images/flag/flag_03.gif) no-repeat 0px -320px;}
.c2490 {background: url(../images/flag/flag_03.gif) no-repeat 0px -340px;}
.c2520 {background: url(../images/flag/flag_03.gif) no-repeat 0px -360px;}
.c2530 {background: url(../images/flag/flag_03.gif) no-repeat 0px -380px;}
.c2540 {background: url(../images/flag/flag_03.gif) no-repeat -25px 0px;}
.c2550 {background: url(../images/flag/flag_03.gif) no-repeat -25px -20px;}
.c2570 {background: url(../images/flag/flag_03.gif) no-repeat -25px -40px;}
.c2580 {background: url(../images/flag/flag_03.gif) no-repeat -25px -60px;}
.c2590 {background: url(../images/flag/flag_03.gif) no-repeat -25px -80px;}
.c2600 {background: url(../images/flag/flag_03.gif) no-repeat -25px -100px;}
.c2620 {background: url(../images/flag/flag_03.gif) no-repeat -25px -120px;}
.c2640 {background: url(../images/flag/flag_03.gif) no-repeat -25px -140px;}
.c2650 {background: url(../images/flag/flag_03.gif) no-repeat -25px -160px;}
.c2660 {background: url(../images/flag/flag_03.gif) no-repeat -25px -180px;}
.c2670 {background: url(../images/flag/flag_03.gif) no-repeat -25px -200px;}
.c2680 {background: url(../images/flag/flag_03.gif) no-repeat -25px -220px;}
.c2700 {background: url(../images/flag/flag_03.gif) no-repeat -25px -240px;}
.c2720 {background: url(../images/flag/flag_03.gif) no-repeat -25px -260px;}
.c2730 {background: url(../images/flag/flag_03.gif) no-repeat -25px -280px;}
.c2740 {background: url(../images/flag/flag_03.gif) no-repeat -25px -300px;}
.c2760 {background: url(../images/flag/flag_03.gif) no-repeat -25px -320px;}
.c2780 {background: url(../images/flag/flag_03.gif) no-repeat -25px -340px;}
.c2790 {background: url(../images/flag/flag_03.gif) no-repeat -25px -360px;}
.c2800 {background: url(../images/flag/flag_03.gif) no-repeat -25px -380px;}
.c2810 {background: url(../images/flag/flag_03.gif) no-repeat -50px 0px;}
.c2820 {background: url(../images/flag/flag_03.gif) no-repeat -50px -20px;}
.c2830 {background: url(../images/flag/flag_03.gif) no-repeat -50px -40px;}
.c2840 {background: url(../images/flag/flag_03.gif) no-repeat -50px -60px;}
.c2850 {background: url(../images/flag/flag_03.gif) no-repeat -50px -80px;}
.c2860 {background: url(../images/flag/flag_03.gif) no-repeat -50px -100px;}
.c2870 {background: url(../images/flag/flag_03.gif) no-repeat -50px -120px;}
.c2890 {background: url(../images/flag/flag_03.gif) no-repeat -50px -140px;}
.c2900 {background: url(../images/flag/flag_03.gif) no-repeat -50px -160px;}
.c2930 {background: url(../images/flag/flag_03.gif) no-repeat -50px -180px;}
.c2940 {background: url(../images/flag/flag_03.gif) no-repeat -50px -200px;}
.c2950 {background: url(../images/flag/flag_03.gif) no-repeat -50px -220px;}
.c2960 {background: url(../images/flag/flag_03.gif) no-repeat -50px -240px;}
.c3030 {background: url(../images/flag/flag_03.gif) no-repeat -50px -260px;}
.c3060 {background: url(../images/flag/flag_03.gif) no-repeat -50px -280px;}
.c3070 {background: url(../images/flag/flag_03.gif) no-repeat -50px -300px;}
.c3090 {background: url(../images/flag/flag_03.gif) no-repeat -50px -320px;}
.c3110 {background: url(../images/flag/flag_03.gif) no-repeat -50px -340px;}
.c3120 {background: url(../images/flag/flag_03.gif) no-repeat -50px -360px;}
.c3130 {background: url(../images/flag/flag_03.gif) no-repeat -50px -380px;}
.c3140 {background: url(../images/flag/flag_03.gif) no-repeat -75px 0px;}
.c3170 {background: url(../images/flag/flag_03.gif) no-repeat -75px -20px;}
.c3180 {background: url(../images/flag/flag_03.gif) no-repeat -75px -40px;}
.c3190 {background: url(../images/flag/flag_03.gif) no-repeat -75px -60px;}
.c3200 {background: url(../images/flag/flag_03.gif) no-repeat -75px -80px;}
.c3210 {background: url(../images/flag/flag_03.gif) no-repeat -75px -100px;}
.c3250 {background: url(../images/flag/flag_03.gif) no-repeat -75px -120px;}
.c3260 {background: url(../images/flag/flag_03.gif) no-repeat -75px -140px;}
.c3270 {background: url(../images/flag/flag_03.gif) no-repeat -75px -160px;}
.c3280 {background: url(../images/flag/flag_03.gif) no-repeat -75px -180px;}
.c3310 {background: url(../images/flag/flag_03.gif) no-repeat -75px -200px;}
.c3320 {background: url(../images/flag/flag_03.gif) no-repeat -75px -220px;}
.c3330 {background: url(../images/flag/flag_03.gif) no-repeat -75px -240px;}
.c3340 {background: url(../images/flag/flag_03.gif) no-repeat -75px -260px;}
.c3350 {background: url(../images/flag/flag_03.gif) no-repeat -75px -280px;}
.c3360 {background: url(../images/flag/flag_03.gif) no-repeat -75px -300px;}
.c3370 {background: url(../images/flag/flag_03.gif) no-repeat -75px -320px;}
.c3380 {background: url(../images/flag/flag_03.gif) no-repeat -75px -340px;}
