#header {
    .support-link {
      float: right;
      line-height: 34px;
    }
    .main__top-tilte {
    width: auto;
    display: inline-block;
    line-height: 34px;
  }
  .user-info {
    line-height: 34px;    
  }
}
