header {
    width: 100%;
    display: block;
    position: fixed;

    #nav_topbar {
        padding-top: 6px;
        font-size: 0.4rem;
        height: 30px;
        background-color: #ececec;

        .wrapper {
            width: 98%;
            @include margin-auto();
            .nav_top-link {
                li {
                    display: inline-block;
                    margin-left: 30px;
                }
            }
            .nav_top-info {
                margin-right: 80px;
                li {
                    display: inline-block;
                    margin-left: 30px;
                }
            }
            .person {
                font-size: 1.5rem;
                margin-top: -3px;
                display: inline-block;
                margin-left: 60px;
            }
            .img-circle {
                width: 22px;
                margin-right: 4px;
            }
        }
    }
    .header {
        height: 100px;
        width: 98%;
        position: relative;
        @include margin-auto();
        .logo {
            margin-top: 15px;
            position: relative;
        }
        .back-home {
        }
    }
    .mainnav {
        height: 50px;
        background-color: #247fe9;
        padding-top: 15px;
        ul {
            margin: 0;
            padding: 0;
            width: 98%;
            @include margin-auto();
            li {
                font-size: 1.5rem;
                display: inline-block;
                margin-left: 30px;
                a,
                a:hover {
                    color: #fff;
                }
            }
        }
    }
}
