// ----------------------------------------------------------------------

  // Retina Images

// ----------------------------------------------------------------------

// example: @include retina("logo2x.png", 100, 50);

@mixin retina($image, $width, $height) {
  @media 
        screen and (-webkit-min-device-pixel-ratio: 2),
       screen and (   min--moz-device-pixel-ratio: 2),
       screen and (   -moz-min-device-pixel-ratio: 2),
       screen and (     -o-min-device-pixel-ratio: 2/1),
       screen and (        min-device-pixel-ratio: 2),
       screen and (             min-resolution: 192dpi),
       screen and (             min-resolution: 2dppx) {
          background-image: url("#{$image}");
    background-size: $width + px $height + px;
    //background-size: $width / 10 + rem $height / 10 + rem; // Use this if you've set HTML font size value to 62.5%
    background-size: $width / 16 + rem $height / 16 + rem;
  }
}
