.breadcrumb {
    a,
    a:hover {
        // text-decoration: underline !important;
    }

    li span {
        color: #797979;
    }
}

.clearfix {
    @include clearfix();
}
//button

.btn_submit {
    padding: 6px 44px;
}

.help-block {
    font-size: 1.3rem;
    color: #9c9c9c;
}

.slash {
    color: #e7505a;
    margin-top: 2px;
}

sup {
    top: -0.3em;
}

.btn-fullscreen {
    display: none;
}
//from

.form-control {
    option:first {
        color: #999;
    }
}

.inlineblock {
    display: inline-block;
}

.input_link {
    margin-left: 20px;

    a {
        text-decoration: underline;
    }
}
//

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.input-margin-left {
    margin-left: -15px !important;
}

.single_radio {
    padding-top: 0;

    .radio {
        padding-top: 0;
    }
}

.form-inside {
    margin-top: 15px;
}

.single_input {
    margin-top: -7px;
}

.valign {
    vertical-align: inherit;
}

.input-font-right {
    margin-left: 0;
    margin-right: 5px;
    display: inline-block;
}

.input-font-left {
    margin-left: 5px;
    margin-right: 0;
    display: inline-block;
}

.width_all {
    width: 96%;
    @include margin-auto;
}

.margin-left5 {
    margin-left: 5px;
}

.bootstrap-switch {
    border: 1px solid rgb(227, 227, 227);
}

.underline {
    text-decoration: underline;
    margin-left: 3px;
}
//colour

.word-black {
    color: #000;
}

.background-3598dc {
    background-color: #3598dc;
    color: #fff;

    & a {
        color: #fff;
    }

    & a:hover {
        color: #fff;
    }
}

.height-all {
    height: 800px;
}
//大標題的距離

.title_group {
    margin-top: 60px;

    h4 {
        color: #505050;
        margin-left: 25px;
    }
}


// modal content edit

.modal-content {
  padding: 15px;
}
