doctype html
html
  include module/header.jade
  body.page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-sidebar-fixed
    include module/nav.jade        
    include page/page_content_main.jade    
    include module/footer.jade
